<!DOCTYPE html>
<html>
<head>
  <style>
  input[type="text"] {
    width: 300px;
    height: 40px;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  input[type="text"]:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  input[type="text"]:focus {
    border-color: #007bff;
    box-shadow: 0px 0px 6px rgba(0, 123, 255, 0.5);
  }
  </style>
</head>
<body>
    <form action="/add_comments/new" method="post">
      <label for="myNumberInput"> Topic_id: </label>
      <input type="number" id="myNumberInput" name="topic_id" required> </br>
      <label> Text: </label>
      <input type="text" name="text"> </br>
      <label> Category: </label>
      <select name="category">
          <option value="Positive">Positive</option>
          <option value="Negative">Negative</option>
      </select> </br>
      <input type="submit" name="submit">
    </form>
</body>
</html>
